In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
import warnings
warnings.filterwarnings("ignore")

In [2]:
# Write a class to load data
class Data:
    def __init__(self, data):
        self.data = data
    def readData(self):
        df = pd.read_csv(self.data)
        return df

In [7]:
#Load data
D = Data("data/historical_energy_data.csv")
df = D.readData()

In [8]:
#view First five columns
df.head()

,Date/Time,Location/Region,Energy Source,Energy Demand,Energy Consumption (kWh),Energy Price,Operational Costs,Energy Production (kWh)
0,01/01/2012,Region A,Fossil Fuels,24016,21848,0.131630,1564.239198,31604
1,02/01/2012,Region C,Fossil Fuels,56200,34796,0.160969,3837.295411,11734
2,03/01/2012,Region A,Renewables,81268,36244,0.155890,4418.260676,31523
3,04/01/2012,Region C,Fossil Fuels,61287,19955,0.130128,3743.417970,21205
4,05/01/2012,Region B,Fossil Fuels,93447,13788,0.151835,1071.513936,19548

In [9]:
#Get info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date/Time                 1000 non-null   object
 1   Location/Region           1000 non-null   object
 2   Energy Source             1000 non-null   object
 3   Energy Demand             1000 non-null   int64
 4   Energy Consumption (kWh)  1000 non-null   int64
 5   Energy Price              1000 non-null   float64
 6   Operational Costs         1000 non-null   float64
 7   Energy Production (kWh)   1000 non-null   int64
dtypes: float64(2), int64(3), object(3)
memory usage: 62.6+ KB